.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

h1 {
 color: black;
}

.BotCollection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
}

.Bot {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  width: calc(25% - 20px); 
  margin-bottom: 20px;
}

.YourBotArmy {
  margin: 20px 0;
}

.BotSpecs {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}
